---
title: درباره
icon: fa-user
order: 3
---

<a href="#" class="image featured"><img src="assets/images/pic08.jpg" alt="" /></a>

<p>بنیانگزار جامعهٔ نورواسپاین ایران</p>
<p>نخستین رییس جامعهٔ نورواسپاین ایران</p>
<p>بنیانگزار و مدیر موسسهٔ پارس اسپاین</p>
<p>هم‌بنیانگزار <a href="https://pamimrc.com/">مرکز تحقیقات روش‌های کم‌تهاجمی و پیشرفتهٔ پارس</a></p>
<p>مدیر هیأت تحقیق و توسعهٔ بیمارستان پارس تهران</p>
