---
title: تماس
icon: fa-envelope
order: 4
---
<h3>نشانی</h3>
<p>تهران، خیابان ولیعصر، بالاتر از بیمارستان دی، کوچهٔ نیل، ساختمان نیلو</p>
<iframe width="100%" height="300em" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=51.40920281410217%2C35.7483277791834%2C51.41352117061616%2C35.75152769433241&amp;layer=mapnik&amp;marker=35.74992775283967%2C51.41136199235916" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.74993&amp;mlon=51.41136#map=18/35.74993/51.41136">نمایش نقشهٔ بزرگ‌تر</a></small>

<h3>تلفن</h3>
<p><a href="tel:021-88787647">۸۸۷۸۷۶۴۷</a></p>
