---
title: خانه
cover-photo: assets/images/banner.jpg
cover-photo-alt: example cover photo
auto-header: none
icon: fa-home
order: 1
---
<header>
  <h2 class="alt">پایگاه وب دکتر ابوالفضل رحیمی‌زاده</h2>
  <p>فوق‌تخصّص جرّاحی مغز و اعصاب</p>
</header>

<footer>
  <a href="#درباره" class="button scrolly">درباره</a>
</footer>
