{%- comment -%}
  Include vars:
  section_items
  link_items
{%- endcomment -%}

<!-- Nav -->
<nav id="nav">
  <ul>
    {%- assign _sections = include.section_items | where_exp: "section", "section.hide != true" -%}
    {%- unless _sections == null -%}
      {%- for _sect in _sections -%}
        {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
        {%- assign _slug = _title | slugify -%}
        {%- assign _icon = _sect.icon | default: 'fa-file' -%}
        {%- if _sect.icon-style == 'regular' -%}
          {%- assign _class = 'icon-r' -%}
        {%- elsif _sect.icon-style == 'brands' -%}
          {%- assign _class = 'icon-b' -%}
        {%- else -%}
          {%- assign _class = 'icon' -%}
        {%- endif -%}
        <li><a href="#{{- _slug -}}" id="{{- _slug -}}-link" class="scrolly"><span class="{{ _class }} {{ _icon }}">{{- _title -}}</span></a></li>
      {%- endfor -%}
    {%- endunless -%}
    {%- assign _links = include.link_items | where_exp: "link", "link.hide != true" -%}
    {%- if _sections[0] and _links[0] -%}<hr />{%- endif -%}
    {%- unless _links == null -%}
      {%- assign _links = _links | sort: 'order' -%}
      {%- for _link in _links -%}
        {%- assign _title = _link.title | default: _link.layout -%}
        {%- assign _slug = _title | slugify -%}
        {%- assign _icon = _link.icon | default: 'fa-link' -%}
        {%- if _link.icon-style == 'regular' -%}
          {%- assign _class = 'icon-r' -%}
        {%- elsif _link.icon-style == 'brands' -%}
          {%- assign _class = 'icon-b' -%}
        {%- else -%}
          {%- assign _class = 'icon' -%}
        {%- endif -%}
        {%- if _link.href -%}
          <li><a href="{{- _link.href -}}" id="{{- _slug -}}-link">
            <span class="{{ _class }} {{ _icon }}">{{- _title -}}</span>
          </a></li>
        {%- else -%}
          <li><a href="{{- '/' | absolute_url -}}" id="broken-link"><span class="icon fa-unlink">[broken link]</span></a></li>
        {%- endif -%}
      {%- endfor -%}
    {%- endunless -%}
  </ul>
</nav>
