<!DOCTYPE HTML>
<!--
Prologue by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
Jekyll integration by Chris Bobbe | chrisbobbe.github.io
-->
<html dir="rtl" lang="fa">
	{%- include head.html -%}
	<body>
		{{- content -}}
		{%- include footer.html -%}
	</body>
</html>
